<?xml version='1.0' encoding='utf-8' standalone='yes'?>
<settings>
    <category label='30516'> <!-- Media Sources -->
        <setting id='devicename' type='text' label='30602' default='bPlex Client'/>
        <setting id='discovery' type='enum' label='30504' lvalues='30594|30570' default='1'/>
        <setting id='ipaddress' type='text' label='30500' default='localhost' visible='eq(-1,0)' enable='eq(-1,0)'/>
        <setting id='port' type='text' label='30530' default='30400' visible='eq(-2,0)' enable='eq(-2,0)'/>
        <setting id='secureconn' type='bool' label='30610' default='true'/>
        <setting id='verify_cert' type='bool' label='30647' default='true'/>
        <!--<setting type='sep' />-->
        <setting id='managemyplex' label='30605' type='action' action='RunScript(plugin.video.bplex, managemyplex)' option='close'/>
        <setting id='selectMaster' label='30526' type='action' action='RunScript(plugin.video.bplex, master)'/>
        <setting id='masterServer' label='30571' type='text' default=''/>
        <setting id='client_id' type='text' visible='false' option='hidden'/>
        <setting id='wolon' type='bool' label='30523' default='false'/>
        <setting id='wol1' type='text' label='30613' visible='eq(-1,true)' enable='eq(-1,true)' default=''/>
        <setting id='wol2' type='text' label='30613' visible='eq(-2,true)' enable='eq(-2,true)' default=''/>
        <setting id='wol3' type='text' label='30613' visible='eq(-3,true)' enable='eq(-3,true)' default=''/>
        <setting id='wol4' type='text' label='30613' visible='eq(-4,true)' enable='eq(-4,true)' default=''/>
        <setting id='wol5' type='text' label='30613' visible='eq(-5,true)' enable='eq(-5,true)' default=''/>
        <setting id='wol6' type='text' label='30613' visible='eq(-6,true)' enable='eq(-6,true)' default=''/>
        <setting id='wol7' type='text' label='30613' visible='eq(-7,true)' enable='eq(-7,true)' default=''/>
        <setting id='wol8' type='text' label='30613' visible='eq(-8,true)' enable='eq(-8,true)' default=''/>
        <setting id='wol9' type='text' label='30613' visible='eq(-9,true)' enable='eq(-9,true)' default=''/>
        <setting id='wol10' type='text' label='30613' visible='eq(-10,true)' enable='eq(-10,true)' default=''/>
        <setting id='wol11' type='text' label='30613' visible='eq(-11,true)' enable='eq(-11,true)' default=''/>
    </category>
    <category label='30517'> <!-- Playback -->
        <setting id='streaming' type='enum' label='30501' lvalues='30511|30512|30513|30563' default='0'/>
        <setting id='streamControl' type='enum' label='30538' lvalues='30536|30567|30539' default='1'/>
        <setting id='forcedvd' type='bool' label='30560' default='false'/>
        <setting id='nasoverride' type='bool' label='30561' default='false'/>
        <setting id='nasoverrideip' type='text' label='30562' default='' subsetting='true' visible='eq(-1,true)' enable='eq(-1,true)'/>
        <setting id='nasuserid' type='text' label='30564' default='' subsetting='true' visible='eq(-2,true)' enable='eq(-2,true)'/>
        <setting id='naspass' type='text' label='30565' option='hidden' subsetting='true' default='' visible='eq(-3,true)' enable='eq(-3,true)'/>
        <setting id='nasroot' type='text' label='30566' default='' subsetting='true' visible='eq(-4,true)' enable='eq(-4,true)'/>
        <setting id='transcode' type='bool' label='30507' default='false'/>
        <setting id='transcode_g1080' type='bool' label='30611' default='false'/>
        <setting id='transcode_hevc' type='bool' label='30612' default='false'/>
        <!-- Start currently unused -->
        <setting id='transcode_type' visible='false' label='30601' type='enum' lvalues='30614|30615' default='0'/>
        <setting id='quality_leg' enable='false' visible='false' type='enum' label='30540' values='300kbps, 240p|720kbps, 320p|1.5Mbps, 480p|2Mbps, 720p|3Mbps, 720p|4Mbps, 720p|8Mbps, 1080p|10Mbps, 1080p|12Mbps, 1080p|20Mbps, 1080p'/>
        <setting id='audiotype' visible='false' type='enum' label='30557' values='Stereo|AC3|DTS' default='0'/>
        <!-- End currently unused -->
        <setting type='lsep' label='30641'/>
        <setting id='transcode_target_quality_0' type='labelenum' label='30540' values='420x420, 320Kbps|576x320, 720Kbps|720x480, 1.5Mbps|1024x768, 2Mbps|1280x720, 3Mbps|1280x720, 4Mbps|1920x1080, 8Mbps|1920x1080, 10Mbps|1920x1080, 12Mbps|1920x1080, 20Mbps|1920x1080, 40Mbps|1920x1080, unlimited' default='1280x720, 4Mbps'/>
        <setting id='transcode_target_sub_size_0' label='30568' type='slider' option='int' range='0,325' default='100'/>
        <setting id='transcode_target_audio_size_0' label='30569' type='slider' option='int' range='0,325' default='0'/>
        <setting id='transcode_target_enabled_1' label='30640' type='bool' default='false'/>
        <setting id='transcode_target_quality_1' visible='eq(-1,true)' type='labelenum' label='30540' values='420x420, 320Kbps|576x320, 720Kbps|720x480, 1.5Mbps|1024x768, 2Mbps|1280x720, 3Mbps|1280x720, 4Mbps|1920x1080, 8Mbps|1920x1080, 10Mbps|1920x1080, 12Mbps|1920x1080, 20Mbps|1920x1080, 40Mbps|1920x1080, unlimited' subsetting='true' default='1280x720, 4Mbps'/>
        <setting id='transcode_target_sub_size_1' visible='eq(-2,true)' label='30568' type='slider' option='int' range='0,325' default='100' subsetting='true'/>
        <setting id='transcode_target_audio_size_1' visible='eq(-3,true)' label='30569' type='slider' option='int' range='0,325' default='0' subsetting='true'/>
        <setting id='transcode_target_enabled_2' label='30640' type='bool' default='false'/>
        <setting id='transcode_target_quality_2' visible='eq(-1,true)' type='labelenum' label='30540' values='420x420, 320Kbps|576x320, 720Kbps|720x480, 1.5Mbps|1024x768, 2Mbps|1280x720, 3Mbps|1280x720, 4Mbps|1920x1080, 8Mbps|1920x1080, 10Mbps|1920x1080, 12Mbps|1920x1080, 20Mbps|1920x1080, 40Mbps|1920x1080, unlimited' subsetting='true' default='1280x720, 4Mbps'/>
        <setting id='transcode_target_sub_size_2' visible='eq(-2,true)' label='30568' type='slider' option='int' range='0,325' default='100' subsetting='true'/>
        <setting id='transcode_target_audio_size_2' visible='eq(-3,true)' label='30569' type='slider' option='int' range='0,325' default='0' subsetting='true'/>
    </category>
    <category label='30520'> <!-- Look and feel -->
        <setting id='secondary' type='bool' label='30503' default='true'/>
        <setting id='channelview' type='bool' label='30542' default='false'/>
        <setting id='flatten' type='enum' label='30543' lvalues='30553|30558|30559' default='0'/>
        <setting id='disable_all_season' type='bool' label='30603' default='false'/>
        <setting id='hide_shared' type='bool' label='30592' default='true'/>
    </category>
    <category label='30522'> <!-- advanced -->
        <setting id='libraryfilter' type='bool' label='30588' default='false'/>
        <setting id='monitoroff' type='bool' label='30609' default='false'/>
        <setting id='fullres_thumbs' type='bool' label='30595' default='false'/>
        <setting id='fullres_fanart' type='bool' label='30596' default='true'/>
        <setting id='contextreplace' type='bool' label='30548' default='false'/>
        <setting id='skipcontextmenus' type='bool' label='30552' default='false'/>
        <setting id='skipmetadata' type='bool' label='30549' default='false'/>
        <setting id='skipimages' type='bool' label='30550' default='false'/>
        <setting id='skipflags' type='bool' label='30551' default='false'/>
    </category>
    <category label='30510'> <!-- debug -->
        <setting id='debug' type='enum' label='30514' lvalues='30599|30600' default='0'/>
        <setting id='cache' type='bool' label='30593' default='true' visible='false'/>
        <setting id='kodicache' type='bool' label='30604' default='false'/>
        <setting type='sep'/>
        <setting id='privacy' type='bool' label='30607' default='true'/>
    </category>
</settings>
